params {
    counts              = '/home/jewel-wilson/JW26ADS8192/tests/testdata/example_counts.tsv'
    metadata            = '/home/jewel-wilson/JW26ADS8192/tests/testdata/example_meta.tsv'
    outdir              = './results'
    min_count_per_group = 10
    group_var           = 'cell_type'
    ref_level           = 'Tconv'
    shrinkage           = 'apeglm'
    p_threshold         = 0.05
    fc_threshold        = 0.5
    set_title           = 'Volcano Plot: Lymph Node Treg vs Tconv'
    xlab                = 'log2 Fold Change (T-reg vs Tconv)'
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '--env PATH=/root/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'
    }
}